html {
    height: 100%;
  }
  
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAD9E6;
}

.container {
    padding: 20px;
}

#box {
    width: 300px;
    height: 500px;
    padding: 150px;
    margin-left: 10px;
    margin-top: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
}

#imgbox {
    height:500px;
    width:500px;
    line-height: 100px;
    overflow:hidden;
    border:solid 1px #000;
    margin-left:10px;
    margin-top:10px;
}

#imgbox img {
    max-width:100%;
    max-height: 100%;
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

/* Two image containers */
.column {
    float: left;
   	width: 300px;
    padding: 20px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}