header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #4a4860;
    z-index: 10000;
    border-bottom: 4px solid #323042;
  }
  
  body {
    margin: 20px;
    background-color: #ef798a;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 96.5%;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  @media all and (min-width: 545px) {
    nav ul {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  
  nav ul li {
    display: none;
  }
  
  @media all and (min-width: 545px) {
    nav ul li {
      display: block;
    }
  }
  
  nav ul a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 0.7em;
    color: #ffe4fa;
    text-align: center;
    padding: 14px 30px;
    -webkit-transition: background 0.25s, -webkit-box-shadow 0.15s;
    transition: background 0.25s, -webkit-box-shadow 0.15s;
    transition: background 0.25s, box-shadow 0.15s;
    transition: background 0.25s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
  }
  
  nav ul a:hover {
    color: #4a4860;
    background: #ffc4eb;
    -webkit-box-shadow: 0px 4px 0px 0px #bb8eac;
            box-shadow: 0px 4px 0px 0px #bb8eac;
  }
  
  @media all and (min-width: 545px) {
    nav ul a {
      padding: 20px;
    }
  }
  
  .heart {
    display: none;
    margin: 0 auto;
    padding: 12px 30px;
  }
  
  @media all and (min-width: 545px) {
    .heart {
      display: block;
      margin: initial;
    }
  }
  
  .heart-trigger {
    display: block;
    order: -1;
    padding: 12px 30px;
  }
  
  @media all and (min-width: 545px) {
    .heart-trigger {
        order: initial;
    }
  }
  
  *,:active {
    outline: none;
  }

  * {
    padding: 0px;
    margin: 0px;
  }

  .card {
    background-color: #B9F6CA;
    width: 350px;
    border-radius: 20px
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}