body {
    background-color: #fce4ec;
    font-family: Roboto, sans-serif;
    color: #000000;
}
  
:root {
    --bg-color: #f5f8ff;
    --main-color: #353536;
    --secondary-color: #8e92a4;
    --main-text-color: #5d606b;
    --secondary-dark-color: #9496a5;
    --tag-color-one: #e0fbf6;
    --tag-color-text-one: #58c2a9;
    --tag-color-two: #ece7fe;
    --tag-color-text-two: #8972f3;
    --tag-color-three: #fde7ea;
    --tag-color-text-three: #e77f89;
    --tag-color-four: #f7f8fc;
    --tag-color-text-four: #a0a6b5;
    --checkbox-color: #009e90;
    --button-color: #49beb7;
    --box-color: #fff1d6;
    --box-color-2: #d3e6ff;
    --box-color-3: #ffd9d9;
    --box-color-4: #daffe5;
    --task-color: #777982;
}
  
body {
    background-image: linear-gradient(21deg, rgba(64, 83, 206, 0.3697) 68%, rgba(255, 206, 196, 0.5) 163%), linear-gradient(163deg, rgba(49, 146, 170, 0.0794449) 86%, rgba(239, 112, 138, 0.5) 40%), linear-gradient(30deg, rgba(76, 79, 173, 0.617368) 22%, rgba(237, 106, 134, 0.5) 169%), linear-gradient(48deg, rgba(31, 85, 147, 0.732389) 64%, rgba(247, 126, 132, 0.5) 43%);
    background-blend-mode: overlay,multiply,color,normal;
}
  
.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
  
.profile-img {
    text-align: center;
    width: 200px;
    /* Container's dimensions */
    
    height: 200px;
    -webkit-border-radius: 75%;
    -moz-border-radius: 75%;
    box-shadow: 0 0 0 1px #eee;
    background: url('default_user.jpeg') center center no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -30px;
    align-content: center;
}
  
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
  
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
  
.image:hover {
    box-shadow: 0px 5px 20px .9px #3F3F3F;
}
  
.image:hover {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    -webkit-transition: 1.6s ease-in-out;
    transition: 1.6s ease-in-out;
}

.profile-head h5{
    color: #333;
}
  
.profile-head h6{
    color: #0062cc;
}

.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
  
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
  
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs{
    margin-bottom:5%;
}
  
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
  
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
  
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
  
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
  
.profile-work ul{
    list-style: none;
}
  
.profile-tab label{
    font-weight: 600;
}
  
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}