@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  background-color: #fce4ec;
  font-family: Roboto, sans-serif;
  color: #d81b60;
}

h1 {
  margin-bottom: 3rem;
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 4rem auto;
  text-align: center;
}