@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

$purple1: #e2a9e5;
$purple2: #632c65;
$purple3: #4b384c;
$body-max-width: 450px;
$pie-dimensions: $body-max-width;

body {
  background-color: #fce4ec;
  font-family: Roboto, sans-serif;
  color: #d81b60;
}

h1 {
  margin-bottom: 3rem;
}

.container {
  width: 100%;
  max-width: $body-max-width;
  margin: 4rem auto;
  text-align: center;
}

.pie-chart {
  position: relative;
  width: $pie-dimensions;
  height: $pie-dimensions;
  border-radius: 50%;
  background: $purple3;
  background-image: linear-gradient(to right, transparent 50%, $purple2 0);
  &::before,
  &::after {
    content: "";
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    transform-origin: left;
  }
  &::before {
    background-color: $purple2;
    transform: rotate(0.1turn);
  }
  &::after {
    margin-top: -100%;
    background-color: $purple1;
    transform: rotate(0.4turn);
  }
}

.pie-text {
  position: absolute;
  font-weight: bold;
  &.text1 {
    color: $purple1;
    left: 0;
    bottom: 50px;
  }
  &.text2 {
    color: $purple2;
    right: -26px;
    top: 80px;
  }
  &.text3 {
    color: $purple3;
    top: -15px;
    left: 106px;
  }
}
