body, * {
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #4a4860;
  z-index: 10000;
  border-bottom: 4px solid #323042;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (min-width: 545px) {
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav ul li {
  display: none;
}

@media all and (min-width: 545px) {
  nav ul li {
    display: block;
  }
}

nav ul a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 0.7em;
  color: #ffe4fa;
  text-align: center;
  padding: 14px 30px;
  -webkit-transition: background 0.25s, -webkit-box-shadow 0.15s;
  transition: background 0.25s, -webkit-box-shadow 0.15s;
  transition: background 0.25s, box-shadow 0.15s;
  transition: background 0.25s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
}

nav ul a:hover {
  color: #4a4860;
  background: #ffc4eb;
  -webkit-box-shadow: 0px 4px 0px 0px #bb8eac;
          box-shadow: 0px 4px 0px 0px #bb8eac;
}

@media all and (min-width: 545px) {
  nav ul a {
    padding: 20px;
  }
}

.heart {
  display: none;
  margin: 0 auto;
  padding: 12px 30px;
}

@media all and (min-width: 545px) {
  .heart {
    display: block;
    margin: initial;
  }
}

.heart-trigger {
  display: block;
  order: -1;
  padding: 12px 30px;
}

@media all and (min-width: 545px) {
  .heart-trigger {
      order: initial;
  }
}

.visible {
  display: block;
  transform: scale(1);
}

.fa-heart {
  font-size: 1.8em;
  color: #ffc4eb;
  transition: all 0.2s ease-in-out;
}

.fa-heart:hover {
  color: #de6e4b;
  transform: scale(1.3);
}

@media all and (min-width: 545px) {
  .fa-heart {
    font-size: 1.2em;
  }
}

.calendar
{
  background-color: white;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}

.calendar .dropdown
{
  display: none;
  position: absolute;
  background-color: #fff;
  color: #1caff6;
  text-align: center;
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  width: 160px;
  left: 0px;
  z-index: 2000;
}

.calendar .dropdown .dropdown-item
{
  cursor:pointer;
  opacity: .7;
  transition: .5s opacity;
}

.calendar .dropdown .dropdown-item:hover
{
  opacity: 1;
}

.calendar .years
{
  display:none;
}

.calendar .title
{
  text-align:center;
  font-size:20pt;
}

.calendar .calendar-btn
{
  float: left;
  background-color: #24aeff;
  color: white;
  text-align: center;
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  width: 20%;
  cursor: pointer;
  transition: .5s background-color;
}

.calendar .calendar-btn:hover{
  background-color:#1f71a1;
}

.calendar .year-btn
{
  float:right;
}

.calendar .calendar-dates .days .day
{
  float:left;
  width: 12%;
  margin: 1%;
  padding: 1%;
  font-size:13pt;
  text-align:center;
  border-radius: 10px;
  border: solid 1px #ddd;
}

.calendar .calendar-dates .days .day.blank
{
  background-color: white;
  border:none;
}

.calendar .calendar-dates .days .day.selected
{
  background-color: #1caff6;
  color: white;
  cursor:pointer;
  opacity: .5;
  transition: .5s opacity;
}

.calendar .calendar-dates .days .day.selected:hover
{
  opacity: 1;
}

.calendar .calendar-dates .days .day.label
{
  height: 40px;
  background-color: white;
  color: black;
  border:none;
  font-weight:bold;
}

.clear{
  clear:both;
}

@media only screen and (max-width: 960px) {
  .calendar{
      width: 100%;
      margin: 0px;
      margin: 0px;
      box-sizing: border-box;
      position: relative;
      left: 0px;
  }
}